---
import type { Icon } from "@astrojs/starlight/components";
import { Icon as CIcon } from "@astrojs/starlight/components";

interface Props {
  title: string;
  description: string;
  href: string;
  icon: keyof typeof Icon;
}

const { title, href, icon } = Astro.props;
---

<div class="sl-link-card">
  <span class="sl-flex">
    <CIcon name={icon} size="1.333em" class="icon" />
    <a href={href}>
      <span class="title" set:html={title} />
    </a>
  </span>
  <CIcon name="right-arrow" size="1.333em" class="icon rtl:flip" />
</div>

<style>
  .sl-link-card {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: var(--sl-shadow-sm);
    position: relative;
  }

  a {
    text-decoration: none;
    line-height: var(--sl-line-height-headings);
  }

  /* a11y fix for https://github.com/withastro/starlight/issues/487 */
  a::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  .sl-flex {
    display: flex;
    gap: 0.5rem;
  }

  .title {
    color: var(--sl-color-white);
    font-weight: 600;
    font-size: var(--sl-text-lg);
  }

  .icon {
    color: var(--sl-color-gray-3);
  }

  /* Hover state */
  .sl-link-card:hover {
    background: var(--sl-color-gray-7, var(--sl-color-gray-6));
    border-color: var(--sl-color-gray-2);
  }

  .sl-link-card:hover .icon {
    color: var(--sl-color-white);
  }
</style>
